body {
    margin: 1px;
    border-style: double;
    background-color: #2b2c2c;
}

h1, h2, h3{
    font-size: x-large;
    color: azure;
    font-weight: bold;
}

h2 {
    border-radius: 1rem;
    background-color: rgb(20, 20, 20);
    padding: 1rem;
    font-size: x-large;
    color: orange;
    font-weight: bold;
}

h3 {
    font-size: larger;
    border-radius: 45%;
    background-color: rgb(20, 20, 20);
    margin-left: 20px;
    margin-right: 20px;
    padding: 1rem;
    text-align: center;
}

p, #form_info{
    padding-left: 2rem;
    padding-right: 2rem;
    color: azure;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {color: red;}

a {color: #7a7af0;}

@keyframes roll {
    0% { transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.profile_picture{
    animation-name: roll;
    animation-duration: 3s;
    animation-iteration-count: 1;
    width: 350px;
    height: 500px;
    border-radius: 100%;
    border-style: groove;
    border-color: orange;
}

@keyframes blink {
    from {background-color: rgb(17, 17, 17);}
    to { background-color: #1b1b1b;}
}

header {
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding-top: 10px;
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

#profile_picture {
    position: relative;
    top: 10px;
    text-align: center;
}

#menu {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(20, 20, 20);
    margin-top: 10px;
    padding: 5px;
}

#back_to_top {
    margin: 1rem;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#skill_list, #contacts_list {
    color: azure;
}