body {
    margin: 5px;
    border-style: double;
    background-color: #2b2c2c;
    color: rgb(0, 0, 0);
}

h1, h2, h3{
    font-size: x-large;
    color: azure;
    font-weight: bold;
}

p, ul{
    padding-left: 2rem;
    padding-right: 2rem;
    color: azure;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {color: #7a7af0;}

.profile_picture{
    width: 350px;
    height: 500px;
    border-radius: 100%;
    border-style: groove;
}

h2, h3 {
    background-color: rgb(20, 20, 20);
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    background-color: rgb(20, 20, 20);
    padding-top: 10px;
}