body {
    border-style: double;
    background-color: #2b2c2c;
    color: rgb(0, 0, 0);
}

h1{
    
}

h1, h2, h3{
    color: azure;
    font-weight: bold;
}

p, ul{
    height: fit-content;
    width: 80%;
    color: azure;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {color: #7a7af0;}

.profile_picture{
    width: 350px;
    height: 500px;
    border-radius: 50px;
    border-style: groove;
}